<!DOCTYPE html>
<html>
    <head>
        <title>404 - Page Not Found</title>
        <style>
            body {
                background: black;
                color: white;
            }
            div.container {
                max-width: 500px;
                margin: 100px auto;
                padding: 10px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>El gatito que buscas no existe :c!!!</h1>
            <img src="https://purr.objects-us-east-1.dream.io/i/tumblr_liqv3fH5Iy1qz5weso1_500.png" alt="Gatito Filomeno 404" >
        </div>
    </body>
</html>