<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>API Docs</title>
</head>
<body>
    <h1>Yo... you should really put some helpful stuff here</h1>
    <p>As you come across API's in real life you will find they typically have nice documentation that shows what endpoints are available.</p>
    <p>You should consider being a good neighbor and doing the same in this document, but for learning purposes this will work just fine as our docs</p>
    <h3>To start make a GET request to the following endpoint to see the API in action:</h3>
    <p>/api/v1/mongo/insert</p>
</body>
</html>