<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Services</title>
</head>
<body>
    <h1>Welcome to your web service!</h1>
    <h2>Hello!</h2>
    <p>In reality this page might contain a product, or some other functionality of a web application.  Consider YouTube for example.
        When you reach the home page you are greeted with the ability to play videos, but hidden deep within is an API, similiar to what
        you will be building in the next few days.  By making specific HTTP requets to certain URLs we can be greeted with a world of
        hidden functionality.
    </p>
    <h4>click <a href="/api/v1">here</a> to view documentation on how to use this API</h4>
</body>
</html>